body {
    background-color: #ffffffff;
  }
  
  h1 {
    color: rgb(225,177,126);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  span {
      font-weight: bold;
  }
  table, th, td {
    border: 1px solid;
  }